@model MemberRegistration.MvcWebUI.Models.MemberAddViewModel
@{
    ViewBag.Title = "Add";
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<body class="bg-light">
    <div class="container">
        <div class="py-5 text-center">
            <h2>Kayıt Formu</h2>
            <p class="lead">Lütfen bilgilerinizi giriniz </p>
            <p class="lead">@Html.ValidationMessage("MemberException") </p>
        </div>

        <div class="row">

            <div class="col-md-8 order-md-1">
                <h4 class="mb-3">Bilgileriniz</h4>

                @using (Html.BeginForm(""))
                {



                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="firstName">Adınız</label>
                            <input type="text" class="form-control" id="firstName" name="member.firstName" placeholder="" value="">
                        </div>


                        <div class="col-md-6 mb-3">
                            <label for="lastName">Soyadınız</label>
                            <input type="text" class="form-control" id="lastName" name="member.lastName" placeholder="" value="">
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="TcNo">TC Kimlik Numaranız</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">ss</span>
                            </div>
                            <input type="text" class="form-control" id="TcNo" name="member.TcNo" placeholder="TC Kimlik Numarası">
                        </div>
                    </div>


                    <div class="mb-3">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" name="member.email" placeholder="you@example.com">
                    </div>

                    <div class="mb-3">
                        <label for="address">Doğum Tarihi</label>
                        <input type="text" class="form-control" id="DateOfBirth" name="member.DateOfBirth" placeholder="08-02-1963">
                    </div>


                    <hr class="mb-4">
                    <button class="btn btn-primary btn-lg btn-block" type="submit">Kayıt Ol</button>
                }
            </div>
        </div>



        <footer class="my-5 pt-5 text-muted text-center text-small">
            <p class="mb-1">&copy; 2017-2019 Company Name</p>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="#">Privacy</a></li>
                <li class="list-inline-item"><a href="#">Terms</a></li>
                <li class="list-inline-item"><a href="#">Support</a></li>
            </ul>
        </footer>
    </div>

</body>